/* Color Palette (Shared Variables)  */
/* ================================= */
:root {
    --greenLight: #f0f6eb;
    --greenLightHover: #e8f2e1;
    --greenLightActive: #cfe4c0;
    --greenNormal: #65a834;
    --greenNormalHover: #5b972f;
    --greenNormalActive: #51862a;
    --greenDark: #4c7e27;
    --greenDarkHover: #3d651f;
    --greenDarkActive: #2d4c17;
    --greenDarker: #233b12;
}

/* ================================= */
/* Global Reset                      */
/* ================================= */
body {
    margin: 0px;
    scroll-behavior: smooth;
}

/* ================================= */
/* Layout Containers                 */
/* ================================= */
.container-fluid {
    display: flex;
    padding: 0px;
}

/* ================================= */
/* Header Section                    */
/* ================================= */

/* جعل القائمة قريبة من الصورة */
.btn-group .dropdown-menu {
  margin-top: 5px !important; /* قلل المسافة بين الصورة والقائمة */
  transform: translateY(-5px); /* تقربها أكتر لو عايز */
}

/* ظبط شكل المنيو تحت الصورة بالضبط */
.btn-group {
  position: relative;
}

.btn-img.dropdown-toggle::after {
  display: none; /* يشيل السهم اللي بيظهر تحت الصورة */
}

/* ممكن كمان تضبط عرض المنيو لو كانت بعيدة على المحور الأفقي */
.dropdown-menu-end {
  right: 0;
  left: auto;
}

#drop{
    display: none;
}

#login {
    display: inline-block; /* مش لازم flex هنا */
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: #65a834;
    transition: all 0.3s ease;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding: 0px; /* قلل البادينج فوق وتحت */
    line-height: 1.3;  /* قلل المسافة بين النص والخط */
}

#login:hover {
    color: #65a834;
    border-bottom: 3px solid #65a834;
}

.navbar-nav .nav-link {
  display: inline-block;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  color: #65a834;
  transition: all 0.3s ease;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  padding: 0px; /* قلل البادينج فوق وتحت */
  line-height: 1.3; /* قلل المسافة بين النص والخط */
  margin-top: 4px; /* يوازن العمود الرأسي مع باقي العناصر */
}

.navbar-nav .nav-link:hover {
  color: #65a834;
  border-bottom: 3px solid #65a834;
}

.navbar .navbar-brand {
  flex: 0 0 auto; /* يمنع التحرك */
}
